html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #f5f6f8;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --grey-light: #ebebeb;
  --grey-light-hover: #c4c4c4;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #5f3af1;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans', sans-serif;
}
